@media screen and (min-width: 768px)  {

/**********************************
LOGO + NAVIGATION
**********************************/
  #top_logo {
    font-size: 2.2em;

  }
  .main_nav {
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
  }

  .main_nav ul  {
    list-style: none;
    margin: 0 10px;
    padding: 0;
    margin: 0;

  }

  .main_nav li  {
    background-color: inherit;
    display: inline-block;
    margin: 0 10px;
  }

/**********************************
INTRODUCTION
**********************************/

  .profile-photo  {
    float: right;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .intro  p{
    float: left;
    text-align: left;
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
  }

/**********************************
MAIN BODY
**********************************/
#portfolio li{
  width: 47%;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
}

#contact {
  width: 530px;
}


.footer_nav_1 {
  display: none;
}
.footer_nav_2{
  display: inherit;
  float: right;
}
.footer_nav_2 li{
  display: inline-block;
  margin-left: 20px;
}
}

@media screen and (min-width: 1024px)  {
  /**********************************
  LOGO + NAVIGATION
  **********************************/
  header{
    padding: 20px 30px;
  }
    #top_logo {
      font-size: 2.2em;
      float: left;
    }
    .main_nav {
      background-color: white;
      float: right;
    }

    .main_nav ul  {
      margin: 0 10px;
      padding: 0;
      margin: 0;
    }

    .main_nav li  {
      background-color: inherit;
      display: inline-block;
      margin: 0 10px;
    }

    .intro{
      margin-top: 8%;
    }
/**********************************
  MAIN BODY
**********************************/
  .wrapper  {
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
    #portfolio li{
      width: 31.333%;
      float: left;
      margin-left: 1%;
      margin-right: 1%;
    }

    #portfolio li:nth-child(4n) {
      clear:left;
    }

}
